9 - MySQL/a.sql
9 - MySQL/mainwindow.ui
9 - MySQL/Bapes/.gitignore
9 - MySQL/Bapes/Bapes.pyproject
9 - MySQL/Bapes/form.ui
9 - MySQL/Bapes/widget.py
9 - MySQL/untitled/.gitignore
9 - MySQL/untitled/untitled.pyproject
9 - MySQL/untitled/widget.py
